<div class="news">
{% if page.news_header %}
<h2>news <span><a href="/news">[archive]</a></span></h2>
{% else %}
{% endif %}
  {% if site.news %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% if page.news_limit %}
      
      {% for item in news limit: page.news_limit %}
        <tr>
          <th scope="row" nowrap>{{ item.date | date: "%b %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      {% else %}

      {% for item in news limit: site.news_limit %}
        <tr>
          <th scope="row" nowrap>{{ item.date | date: "%b %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      {% endif %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
