@use 'vars';
@use 'sass:color';

:root {
  --global-bg-color: #{1white-color};
  --global-code-bg-color: #{vars.$code-bg-color-light};
  --global-text-color: #{vars.$black-color};
  --global-text-color-light: #{vars.$grey-color};
  --global-theme-color: #{vars.$purple-color};
  --global-hover-color: #{vars.$purple-color};
  --global-footer-bg-color: #{vars.$grey-color-dark};
  --global-footer-text-color: #{vars.$grey-color-light};
  --global-footer-link-color: #{vars.$white-color};
  --global-distill-app-color: #{vars.$grey-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #{vars.$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{vars.$grey-color-dark};
  --global-code-bg-color: #{vars.$code-bg-color-dark};
  --global-text-color: #{vars.$grey-color-light};
  --global-text-color-light: #{vars.$grey-color-light};
  --global-theme-color: #{vars.$cyan-color};
  --global-hover-color: #{vars.$cyan-color};
  --global-footer-bg-color: #{vars.$grey-color-light};
  --global-footer-text-color: #{vars.$grey-color-dark};
  --global-footer-link-color: #{vars.$black-color};
  --global-distill-app-color: #{vars.$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{vars.$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
