{% if site.enable_math %}

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@{{ site.katex.version }}/dist/katex.min.css" integrity="{{ site.katex.integrity.css }}" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@{{ site.katex.version }}/dist/katex.min.js" integrity="{{ site.katex.integrity.js }}" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@{{ site.katex.version }}/dist/contrib/auto-render.min.js" integrity="{{ site.katex.integrity.autorender }}" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
        
{% endif %}