<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <body class="sticky-bottom-footer">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/masonry.html %}
  {% include scripts/misc.html %}
  {% include scripts/katex.html %}
  {% include scripts/analytics.html %}

  </body>
</html>
